<CascadingValue Value="this">
    <div class="@ClassNames">
        <div class="noknin-tabs__list"
             role="tablist"
             aria-orientation="@AriaOrientation">
            @Tabs
        </div>

        <div class="noknin-tabs__panels">
            @ChildContent
        </div>
    </div>
</CascadingValue>